
<div class="left-column">
  <b>Original URL:</b><br />
  <b>Shortened URL:</b>
</div>

<div class="right-column">
  <%= link_to trimURL(@shortener.url), @shortener.url %><br />
  <%= link_to @shortener.shortlink, @shortener.shortlink %><%= clippy @shortener.shortlink %>
</div>

<%= link_to 'Back', root_path %>
