<p>
  <b>Url:</b>
  <%= @shortener.url %>
</p>

<p>
  <b>Shortened Link:</b>
  <%= link_to @shortener.shortlink, @shortener.shortlink %>
  <%= clippy @shortener.shortlink %>
</p>
<%= link_to 'Back', root_path %>
