<script type="text/javascript">
    reformal_wdg_w    = "713";
    reformal_wdg_h    = "460";
    reformal_wdg_domain    = "menosgrande";
    reformal_wdg_mode    = 0;
    reformal_wdg_title   = "Menos Grande URL Shortener";
    reformal_wdg_ltitle  = "Leave feedback";
    reformal_wdg_lfont   = "";
    reformal_wdg_lsize   = "";
    reformal_wdg_color   = "#FFA000";
    reformal_wdg_bcolor  = "#516683";
    reformal_wdg_tcolor  = "#FFFFFF";
    reformal_wdg_align   = "right";
    reformal_wdg_waction = 0;
    reformal_wdg_vcolor  = "#9FCE54";
    reformal_wdg_cmline  = "#E0E0E0";
    reformal_wdg_glcolor  = "#105895";
    reformal_wdg_tbcolor  = "#FFFFFF";
     
    reformal_wdg_bimage = "8489db229aa0a66ab6b80ebbe0bb26cd.png";
     
    </script>

    <script type="text/javascript" language="JavaScript" src="http://idea.informer.com/tab6.js?domain=menosgrande"></script><noscript><a href="http://menosgrande.idea.informer.com">Menos Grande URL Shortener feedback </a> <a href="http://idea.informer.com"><img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" /></a></noscript>

