<footer>
  <p>©2011<%= '-' + Time.now.year.to_s if Time.now.year > 2011 %> <a href="http://abevoelker.com">Abe Voelker</a> <br />
  <a href="/privacy">Privacy Policy</a> | <a href="/tos">Terms of Service</a></p>
</footer>

