<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "FAQ", '/faq' %></li>
      <li><%= link_to "API", '#' %></li>
    </ul>
  </nav>
</header>

